<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733198438519-2gdcrjtm4sptgk39v4n8d0e0l9m9m8fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733198438519-2gdcrjtm4sptgk39v4n8d0e0l9m9m8fp</string>
	<key>API_KEY</key>
	<string>AIzaSyAfRES_xbbqjl22KFYKDSetbp3liz2Dybs</string>
	<key>GCM_SENDER_ID</key>
	<string>733198438519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pandekar.MyNote-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>mynote-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>mynote-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733198438519:ios:55354c6e18b8a956c57672</string>
</dict>
</plist>